body {
    margin: 0;
    font-family: "Smythe",serif;
} 
.hero-section{
    color:white;
    background-image: url('./images/bg-img.png');
    background-size:cover;
    padding:20px 40px;
}

.hero-title{
    font-weight:500;
    margin-bottom:0;
}

.hero-text{
    margin-top:6px;
}
.container{
    max-width: 500px;
    margin:auto;
}
.item-container{
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid #DEDEDE;
}
.item-container-inner{
    display:flex;
    align-items: center;

}

.item{
    font-size: 4.5rem;
    margin-right: 20px;
}

.item-details > h2{
    margin-bottom:0;
    font-weight: 400;
    font-size: 1.75rem;
}
.ingredients{
    margin-top: 5px;
    margin-bottom:0;
    color:#8B8B8B;
    font-size: 1rem;
}
.price{
    font-size: 1.25rem;
    margin-top: 15px;
}

.add-item{
    border-radius: 50%;
    border:1px solid #DEDEDE;
    background-color: white;
    color:#3C3C3C;
    font-size: 2rem;
    font-family: "Inter",sans-serif;
    font-weight: 200;
    align-self:center;
    cursor:pointer;
    width:50px;
    height:50px;
    padding-bottom: 6px;
    transition:color 0.25s,background-color 0.25s
}
.add-item:hover,.add-item:focus{
    color:white;
    background-color: #16DB99;
}
.order-container{
    display:none;
}
.orders{
    padding-bottom: 5px;
    border-bottom: 2px solid black;
}
.order-container > h3{
    text-align: center;
    font-size: 1.75rem;
    font-weight: 200;
}
.order,.price{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:2px 0;
}
.order > h3{
    margin:0;
}

.order-name{
    display:flex;
}
.order-name > h3{
    margin-right:5px;
    font-size: 1.75rem;
    font-weight: 200;
    margin:0 5px 0 0;
}
.order-name > button{
    border:none;
    background: white;
    align-self: center;
    color:#BBBBBB;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor:pointer;
    font-size: 0.75rem;
    transition:color 0.25s
}
.order-name > button:hover,button:focus{
    color: black;
}
.complete-order{
    color:white;
    background-color: #16DB99;
    margin-top: 10px;
    width:100%;
    padding:20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border:none;
    border-radius:5px;
    cursor:pointer;
    transition: background-color 0.25s;
}
.complete-order:hover,.complete-order:focus{
    background-color: #62f3c3;
}
.payment-details{
    display:none;
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    margin:auto;
    width:500px;
    height:400px;
    padding:25px;
    box-shadow: 0 0 50px 1px #BBBBBB;
    background-color: white;
    border-radius: 5px;
    transition:display 0.5s;
}
.payment-details > h4{
    text-align: center;
    font-size: 2rem;
    margin:8px 0;
}
.payment-details > input{
    width:100%;
    padding:15px;
    margin:10px 0;
    border-radius: 3px;
    border:1px solid #8B8B8B;
}
.payment-details > label{
    font-size:1.25rem;
}
.confirmation{
    text-align: center;
    margin: 20px 0;
    padding:10px 0;
    color:#065F46;
    background-color: #ECFDF5;
    border-radius: 5px;
}
.confirmation>h4{
    font-size:1.75rem;
    font-weight:500;
}